.containerBookCart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.bookCart {
  text-align: center;
  justify-content: center;
  margin: 20px;
}
.picContainer {
  margin: auto;
  width: 250px;
}

.picContainer > img {
  width: 100%;
}

.totalBuy {
  background-color: #efe9f6;
  flex-grow: 0.5;
  padding: 20px 10px;
  text-align: justify;
}

.totalBuy > p {
  padding: 5px;
}
.totalBuy > button {
  border: none !important;
  border-radius: 2px;
  background-color: #180f75;
  font-size: large;
  color: white;
  margin: 10px;
  padding: 10px;
}

p > span {
  font-weight: bold;
}

.containerTotal {
  display: flex;
}

.infoBookToBuy {
  text-align: justify;
}

.infoBookToBuy > .priceStyle {
  font-weight: bold;
}
