.SearchBar > input {
  border-color: gray;
  border: 1px solid;
  border-radius: 2px;
  width: 400px;
  outline: none;
  padding: 5px;
}

.SearchBar {
  display: flex;
}
.SearchBar > input::placeholder {
  text-align: center;
}
.SearchBar > button {
  background-color: transparent;
  border: none;
}
.Head {
  height: 50px;
  background-color: #efe9f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Icon {
  margin: 10px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.Icon > p {
  text-decoration: none;
}

@media (max-width: 600px) {
  .SearchBar > input {
    width: 200px;
  }
}
